.centeredcontainer {
  justify-content: center; /* Center horizontally */
  align-items: center;
  /* height: 100%; */ /* Set container height to full viewport height */
}
.centereddiv {
  margin: 0 auto; /* Auto margin horizontally centers the div */
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1000px;
  flex: 1; /* Allow the content to grow to fill the available space */
}
.gridcontainer {
  width: 1000px; /* Adjust the width as needed */
  height: 700px; /* Adjust the height as needed */
  overflow: auto; /* Enable scrollbars if content overflows */
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Adjust column width as needed */
  gap: 10px; /* Adjust gap between grid items */
}

.padbox {
  padding: 20px;
}
