.centeredcontainer {
  justify-content: center; /* Center horizontally */
  align-items: center;
  /* height: 100%; */ /* Set container height to full viewport height */
}
.centereddiv {
  margin: 0 auto; /* Auto margin horizontally centers the div */
  padding-top: 50px;
  padding-bottom: 50px;
  width: 700px;
  flex: 1; /* Allow the content to grow to fill the available space */
}

.gridcontainer {
  height: 500px;
  width: 650px;
  overflow: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr)
  ); /* Adjust column width as needed */
  gap: 1px; /* Adjust gap between grid items */
}

.padbox {
  padding: 20px;
}
.scrollablegridcontainer {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 300px;
  max-width: 600px;
}

.cardgrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(80px, 1fr)
  ); /* Adjust column width as needed */
  gap: 1px; /* Adjust gap between grid items */
}
