.centeredcontainer {
  justify-content: center; /* Center horizontally */
  align-items: center;
  /* height: 100%; */ /* Set container height to full viewport height */
}
.centereddiv {
  margin: 0 auto; /* Auto margin horizontally centers the div */
  padding-top: 50px;
  padding-bottom: 50px;
  width: 400px;
  flex: 1; /* Allow the content to grow to fill the available space */
}

.game-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.cards-up,
.cards-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100px;
  height: 150px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin: 5px;
  padding: 10px;
}
.scrollablegridcontainer {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 410px; /* Set maximum height for the scrollable container */
}

.cardgrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(80px, 1fr)
  ); /* Adjust column width as needed */
  gap: 5px; /* Adjust gap between grid items */
}
